		body {
			font-family: verdana, helvetica, arial, sans-serif;
			padding: 20px;
			font-size: 12px;
			margin: 0;
		}

		h2 {
			font-size: 18px;
			font-weight: bold;
			margin: 0;
			margin-bottom: 15px;
		}

		.demo-info {
			padding: 0 0 12px 0;
		}

		.demo-tip {
			display: none;
		}

		#fm {
			margin: 0;
			padding: 10px 30px;
		}

		.ftitle {
			font-size: 14px;
			font-weight: bold;
			color: #666;
			padding: 5px 0;
			margin-bottom: 10px;
			border-bottom: 1px solid #ccc;
		}

		.fitem {
			margin-bottom: 5px;
		}

		.fitem label {
			display: inline-block;
			width: 80px;
		}